@import url("../styles/main.css");

.parallax {
    background-image: url('src/img/acougue-joinville-11.jpg');
}





/*KITS ====================*/
#kits .section-content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#kits .section-content .cards {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

#kits .card-1{
    flex-direction: column;
}

#kits .card-content {
    padding: 2rem;
    background-color: var(--gray-300);
}

#kits .card-img {
    flex: 0 0 0;
    height: 10rem;
}

#kits .card-1 .card-content .buttons-container {
    flex-direction: column;
}

#kits .card-1 .card-content .buttons-container a{
    width: 100%;
}

@media (max-width: 767px) {
    #kits .section-content .cards {
        flex-direction: column;
        gap: 3rem;
    }
}



/*MAIS VENDIDAS ====================*/
#mais-vendidas{
    background-color: var(--gray-800);
}

#mais-vendidas header{
    text-align: center;
}

#mais-vendidas .section-content{
    gap: 4rem;
    display: flex;    
    flex-wrap: wrap;    
}

#mais-vendidas .card-steaks{
    flex: 1 1 400px;
    height: 15rem;
    padding: 0;
    position: relative;
}

#mais-vendidas .card-steaks .card-2 .card-details{
    color: #fff;
    position: absolute;
    padding: 2rem;
}

#mais-vendidas .card-steaks .card-2 .card-details p{
    margin: 2rem 0 0 0;
}

#mais-vendidas .card-steaks .card-2 .card-details h3{
    padding-bottom: 1rem;
    border-bottom: 1px solid white;
}

.gradient-cover{
    background-image: linear-gradient(90deg, rgba(35, 31, 32, .9), rgba(35, 31, 32, .8));
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


#tbone.card-2{
    background-image: url(../img/t-bone-acougue-don-toro.jpg);
}

#prime-rib.card-2{
    background-image: url(../img/prime-rib-acougue-don-toro.png);
}

#picanha.card-2{
    background-image: url(../img/picanha-acougue-don-toro.png);
}

#tomahawk.card-2{
    background-image: url(../img/tomahawk-acougue-don-toro.jpeg);
}

@media (max-width:450px){
    #mais-vendidas .card-steaks{
        height: 17rem;
    }
}

@media (max-width:400px){
    #mais-vendidas .card-steaks{
        height: 20rem;
    }
}