@import url("../styles/main.css");

/*PARALLAX BANNER ====================*/
#parallax-banner{
    position: relative;
    padding: 0;
}

.parallax-wrapper {
    overflow-y: hidden;
}
  
.parallax {
    background-image: url('../img/acougue-joinville.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#parallax-banner .cover{
    height: 100vh;
}





/*INFOS BANNER ====================*/
#banner-home-info{
    z-index:5;
    top:0;
    position: absolute;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
}

#banner-home-info .container {
    height: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#banner-home-info h1{
    font-size: 6rem;
    margin: 0 0 15vh 0;
    color: white;
}

@media (max-width: 767px){    
    #banner-home-info h1{
        font-size: 3rem;
    }   
}



/*QUEM SOMOS ====================*/

#quem-somos .section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

#quem-somos .image {
    text-align: center;
}

#quem-somos .image img {
    width: 100%;
}

@media (max-width:767px){
    #quem-somos .section-content {
        flex-direction: column-reverse;
    }

    #quem-somos .image img {
        width: 70%;
    }
}





/*KITS ====================*/
#kits {
    background-color: var(--gray-800);
}





/*MAIS VENDIDAS ====================*/
#mais-vendidas header {
    text-align: center;
}

#mais-vendidas .section-content{
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mais-vendidas .card-2 {
    position: relative;
}

.card-steaks{
    flex: 1 1 350px;
    height: 10rem;
    padding: 0;
}

.gradient-cover{
    background-image: linear-gradient(45deg,#231f20,#231f2000);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card-steaks .overlay{
    background-color: #231f20;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:20;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.card-steaks .overlay a{
    transition: none;
    margin:.2rem;
    width: fit-content;
}

.card-steaks .card-2:hover .overlay{
    visibility: visible;
    animation: fade .3s;
}

#tbone.card-2{
    background-image: url(../img/t-bone-acougue-don-toro.jpg);
}

#prime-rib.card-2{
    background-image: url(../img/prime-rib-acougue-don-toro.png);
}

#picanha.card-2{
    background-image: url(../img/picanha-acougue-don-toro.png);
}

#tomahawk.card-2{
    background-image: url(../img/tomahawk-acougue-don-toro.jpeg);
}



/*LINHAS DE CARNE ====================*/
#linhas {
    background-color: var(--gray-800);
}

#linhas header {
    text-align: center;
}



/*NOSSA LOJA ====================*/
#nossa-loja{
    background-color: var(--gray-800);
    color: #fff;
}

#nossa-loja .section-content {
    display: flex;
    align-items: center;
    gap: 7rem;
}

#nossa-loja .section-content img {
    width: 100%;
    border-radius: 1rem;
}

@media (max-width: 767px) {
    #nossa-loja .section-content {
        gap: 3rem;
        flex-direction: column;
    }
}





/*BAR E CHURRASCO ====================*/
#bar-churrasco .section-content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

#bar-churrasco .icons {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

#bar-churrasco .icons .icon-wrapper {
    flex: 33%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#bar-churrasco .icons .icon-wrapper .icon-image {
    height: 5rem;
    display: flex;
    align-items: flex-end;
}

#bar-churrasco .icons .icon-wrapper h3 {
    margin-bottom: 1rem;
}

#bar-churrasco .images{
    display: flex;
    gap: 1.5rem;
}

#bar-churrasco .images .column{
    flex: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#bar-churrasco .images img{
    width: 100%;
    border-radius: 10px;
}

#bar-churrasco .images .column:last-child img{
    flex: 1 0 100%;
}

@media (max-width: 767px) {
    #bar-churrasco .images{
        flex-direction: column;
    }
    #bar-churrasco .icons {
        flex-direction: column;
    }
}





/*PARCEIROS ====================*/
#parceiros {
    display: none;
}

#parceiros header{
    text-align: center;
}

#parceiros .slick-track{
    align-items: center;
}

#parceiros .slick-slide{
    padding: 0 2rem; 
}

#parceiros .slick-prev:before,
#parceiros .slick-next:before{
    color: #231f20;
}





/*EVENTOS ====================*/
#eventos{
    background-color: #231f20;
    display: none;
}

#eventos .title{
    text-align: center;
}

#eventos .container .content{
    padding-bottom: 0;
}

#eventos .card-content .title{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

#eventos .card-content{
    padding: 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#eventos .card-img > img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.evento-type{
    margin-bottom: 1rem;
}

.evento-type > span{
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    letter-spacing: .1rem;
}

.evento-details{
    color: #6d6d6d;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.slider-home-eventos .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}

.slider-home-eventos .slick-dots li button:before{
    opacity: .3;
    color: #fff;
}

.slider-home-eventos .slick-dots{
    bottom: auto;
    margin-top: 1rem;
}

@media (max-width:491px){
    .evento-details{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    #eventos .card-content{
        height: fit-content;
    }
}