/*PARALLAX BANNER
==============================*/

#parallax-banner{
    position: relative;
    padding: 0;
}

.parallax-wrapper {
    overflow-y: hidden;
}
  
.parallax {
    background-image: url('../img/shutterstock/stock-photo-set-of-various-classic-alternative-raw-meat-veal-beef-steaks-chateau-mignon-t-bone-tomahawk-1811510533.jpg');
    background-size: cover;
    background-position: 25% center;
    height: 75vh;
}











/*PAGE TITLE
==============================*/

#page-title{
    z-index:5;
    top:0;
    position: absolute;
    padding-top: 15vh;
    padding-bottom: 10vh;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#page-title .container{
    bottom: 0;
}




/*KITS
==============================*/


#kits-promocionais .row.content{
    padding-bottom: 0;
}

#kits-promocionais .row.content .carousel .slider{
    display: flex;
    flex-wrap: nowrap;
}

#kits-promocionais .card-content .card-details{
    height: auto;
}

#kits-promocionais .card-img{
    height: 15vh;
    position: relative;
}

#kits-promocionais .card-details ul{
    white-space: normal;
}

#kits-promocionais .card-details ul li{
    margin-bottom: 1rem;
}

.kit-price > span{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    white-space: nowrap;
}

#kits-promocionais .card-content{
    background-color: #f1f1f1;
}

.kit-size{
    color: #6d6d6d;
    font-size: .8rem;
}


.slider-carnes-kit .slick-dots{
    bottom: -50px;
    margin-top: 1rem;
}


#kits-promocionais .carousel{
    margin-top: 1rem;
    padding: 0;
}

.card-buttons .row{
    width: 100%;
}

#kits-promocionais .btn-1{
    width: 100%;
}
@media (max-width: 370px){
    #kits-promocionais .card-content .card-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2rem;
        align-items: center;
    }
    #kits-promocionais .kit-size{
        text-align: center;
    }
    .card-content{
        padding: 1rem;
    }
    #kits-promocionais .card-img{
        height: 15vh;
    } 
    .card-container .btn-1,
    .card-container .btn-3,
    .card-container .btn-1:hover,
    .card-container .btn-3:hover{
        font-size:.8rem;        
        padding: .3rem 1rem;
    }
}

@media (min-width:1199px){
    #kits-promocionais .card-content{
        padding: 1.2rem;
    }
    #kits-promocionais .kit-title h3{
        font-size: 1rem;
    }
    #kits-promocionais .kit-price span{
        font-size: 1.2rem;
    }
    #kits-promocionais .carousel .col{
        max-width: 33%;
    }

}






/*MAIS VENDIDAS
==============================*/

#mais-vendidas{
    background-color: #231f20;
}

#mais-vendidas .title{
    text-align: center;
}

#mais-vendidas .content{
    margin: 2rem 0;
    gap: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;    
    flex-wrap: wrap;    
}

#mais-vendidas .card-steaks{
    flex-basis: 400px;
    flex-shrink: 0;
    height: 15rem;
    padding: 0;
}

#mais-vendidas .card-steaks .card-2 .card-details{
    color: #fff;
    position: absolute;
    padding: 2rem;
}

#mais-vendidas .card-steaks .card-2 .card-details p{
    margin: 2rem 0 0 0;
}

.gradient-cover{
    background-image: linear-gradient(90deg, rgba(35, 31, 32, 0.8), rgba(35, 31, 32, 0.7));
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}


#tbone.card-2{
    background-image: url(../img/t-bone-steak-topped-with-salt.jpg);
}

#prime-rib.card-2{
    background-image: url(../img/prime-rib.png);
}

#ny-strip.card-2{
    background-image: url(../img/ny-strip.jpg);
}

#tomahawk.card-2{
    background-image: url(../img/tomahawk.jpeg);
}


@media (max-width:450px){
    #mais-vendidas .card-steaks{
        height: 17rem;
    }
}

@media (max-width:400px){
    #mais-vendidas .card-steaks{
        height: 20rem;
    }
}






/*LINHAS DE CARNE
==============================*/
#linhas .panel-heading{
    color: #fff;
    border-radius: 5px;
    background-size: cover;
    position: relative;
    background-position: center 60%;
    height: 5rem;
    vertical-align: middle;
    align-items: center;
    display: flex;
}

#linhas .panel-title{
    position: absolute;
    width: 100%;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
}

#linhas .panel-title i{
    transition: all 300ms ease-in 0s;
    transform: rotate(180deg);
}

#linhas .panel-title.collapsed i{
    transform: rotate(0deg);
}



#linhas #panel-heading-1{
    background-image: url(../img/tomahawk.jpeg);
}

#linhas #panel-heading-2{
    background-image: url(../img/tulipa-frango.jpg);
}

#linhas #panel-heading-3{
    background-image: url(../img/linguica.jpeg);
}

#linhas .panel-collapse{
    background-color: #f1f1f1;
    transition: height 300ms ease;
    border-radius: 5px;
}

#linhas .panel-collapse.collapsing{
    width: 100%!important;
    transition: height 300ms ease;
}

#linhas .panel-collapse .panel-body{
    padding: 1.5rem;
}

#linhas .panel-heading-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    background-color: #231f20a4;
}


#linhas .panel-collapse p{
    margin: 0;
}

#linhas .panel {
    margin: 2rem 0;
}

