
/*PARALLAX BANNER
==============================*/

#parallax-banner{
    position: relative;
    padding: 0;
}

.parallax-wrapper {
    overflow-y: hidden;
}
  
.parallax {
    background-image: url('../img/shutterstock/stock-photo-rib-eye-steaks-cooking-on-flaming-grill-panorama-1406775134.jpg');
    background-size: cover;
    background-position: 25% top;
    height: 75vh;
}











/*PAGE TITLE
==============================*/

#page-title{
    z-index:5;
    top:0;
    position: absolute;
    padding-top: 15vh;
    padding-bottom: 10vh;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#page-title .container{
    bottom: 0;
}




