
/*PARALLAX BANNER
==============================*/

#parallax-banner{
    position: relative;
    padding: 0;
}

.parallax-wrapper {
    overflow-y: hidden;
}
  
.parallax {
    background-image: url('../img/shutterstock/stock-photo-rib-eye-steaks-cooking-on-flaming-grill-panorama-1406775134.jpg');
    background-size: cover;
    background-position: 25% top;
    height: 75vh;
}











/*PAGE TITLE
==============================*/

#page-title{
    z-index:5;
    top:0;
    position: absolute;
    padding-top: 15vh;
    padding-bottom: 10vh;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#page-title .container{
    bottom: 0;
}





/*EVENTOS
==============================*/

#eventos .container .content{
    padding-bottom: 0;
}

.card-content h3{
    white-space: normal;
    margin-bottom: .5rem;
}

#eventos .card-content .title{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}


#eventos .card-content{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #eee;
}

#eventos .card-content p {
    white-space: normal;
}

#eventos .card-img {
    height: 100%;
}

#eventos .card-img > img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.evento-type{
    margin-bottom: 1rem;
}

.evento-type > span{
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    letter-spacing: .1rem;
}

.evento-details{
    color: #6d6d6d;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

#eventos .evento-description{
}


@media (max-width:491px){
    .evento-details{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    #eventos .card-content{
        height: fit-content;
    }

}
