



/*PARALLAX BANNER
==============================*/

#parallax-banner{
    position: relative;
    padding: 0;
}

.parallax-wrapper {
    overflow-y: hidden;
}
  
.parallax {
    background-image: url('../img/fundo-parallax-home.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}












/*INFOS BANNER
==============================*/
#logo-banner-mobile{
    max-width: 10rem;
    max-height: 20vh;
    display: none;
    object-fit: contain;
    object-position: left;
}

#banner-home-info{
    z-index:5;
    top:0;
    position: absolute;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
}

#banner-home-info > .container, #banner-home-info > .container > .row  {
    height: 100%;
}

#banner-home-info > .container > .row > .col {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


#banner-home-info h1{
    margin: 0 0 10vh 0;
}

#buttons-banner .col-12 {
    padding: 0;
}

#buttons-banner{
    display: flex;
    flex-wrap: wrap;
}


@media (min-width:992px){   
    #banner-home-info > .container > .row > .col{
        justify-content: flex-end;
    }
}



/*QUEM SOMOS
==============================*/

#quem-somos div{
    flex-wrap: wrap;
}

#quem-somos .content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#quem-somos .text-content{
    flex-basis: 70%;
    flex-grow: 0;
    height: fit-content;
}

#quem-somos p{
    width: 100%;
}

#quem-somos .img-content{
    text-align: right;
    height: 100%;
}

#quem-somos .img-content img{
    height: auto;
    width: 70%;
    object-fit: contain;
}

.bg-dark{
    background-color: #231f20;
}

@media (max-width:991px){
    #quem-somos .text-content{
        width: 100%;
        flex-grow: 1;
        flex-shrink: 0;
    }
    #quem-somos .img-content{
        flex-basis: 100%;
        flex-grow: 1;
        flex-shrink: 0;
        text-align: center;
        margin-bottom: 4rem;
    }
    #quem-somos .img-content img{
        width: 50%;
    }
}










/*KITS
==============================*/

#kits-promocionais{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    background-color: #231f20;
}

#kits-promocionais .title{
    text-align: center;
}

#kits-promocionais .row.content{
    padding-bottom: 0;
}

.kit-price > span{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    white-space: nowrap;
}

.kit-size{
    color: #6d6d6d;
    font-size: .8rem;
}

.slider-home-kit .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}

.slider-home-kit .slick-dots li button:before{
    opacity: .3;
    color: #fff;
}

.slider-home-kit .slick-dots{
    bottom: auto;
    margin-top: 1rem;
}

.col .slick-slide{
    padding: 0;
}

@media (max-width:799px){
    #kits-promocionais .card-content .card-details{
        height: 15rem;
    }
}

@media (max-width:499px){
    #kits-promocionais .card-content .card-details{
        height: 17rem;
    }
}

@media (max-width: 370px){
    #kits-promocionais .card-content .card-header{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 2rem;
        align-items: center;
    }    
    #kits-promocionais .card-content .card-details{
        height: 17rem;
    }
    #kits-promocionais .kit-size{
        text-align: center;
    }
    .card-content{
        padding: 1rem;
    }
    #kits-promocionais .card-img{
        height: 15vh;
    } 
    .card-container .btn-1,
    .card-container .btn-3,
    .card-container .btn-1:hover,
    .card-container .btn-3:hover{
        font-size:.8rem;        
        padding: .3rem 1rem;
    }
}








/*MAIS VENDIDAS
==============================*/

#mais-vendidas{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
}

#mais-vendidas .content{
    margin: 2rem 0;
    gap: 2rem;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;    
    flex-wrap: wrap;    
}

.card-steaks{
    flex-basis: 400px;
    flex-shrink: 0;
    height: 7.5rem;
    padding: 0;
}

.gradient-cover{
    background-image: linear-gradient(45deg,#231f20,#231f2000);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card-steaks .overlay{
    background-color: #231f20;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index:20;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.card-steaks .overlay a{
    transition: none;
    margin:.2rem;
    width: fit-content;
}

.card-steaks .card-2:hover .overlay{
    visibility: visible;
    animation: fade .3s;
}


#tbone.card-2{
    background-image: url(../img/t-bone-steak-topped-with-salt.jpg);
}

#prime-rib.card-2{
    background-image: url(../img/prime-rib.png);
}

#ny-strip.card-2{
    background-image: url(../img/ny-strip.jpg);
}

#tomahawk.card-2{
    background-image: url(../img/tomahawk.jpeg);
}










/*NOSSA LOJA
==============================*/

#nossa-loja{
    background-color: #231f20;
    color: #fff;
}

/* the slides */
.slick-slide {
    margin: 0 10px;
}

.slick-track{
    display: flex !important;
}

/* the parent */
.slick-list {
    margin: 0 -10px;
}

#nossa-loja .text-content{
    margin-bottom: 2rem;
}

#nossa-loja .img-content > img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-position: left;
}







/*BAR E CHURRASCO
==============================*/

#bar-churrasco .icons-churrasco{
    display: flex;
    gap: 2.5rem;
    padding: 0;
}

.icons-churrasco > .col-12{
    padding: 0;
}

#bar-churrasco .icons-churrasco img{
    width: 30%;
    margin-bottom: 2rem;
}

#bar-churrasco .card-churrasco h3{
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

#bar-churrasco .images{
    margin-top: 4rem;
}

#bar-churrasco .images > #col-left{
    padding: 0;
}

#bar-churrasco .images > #col-right{
    padding: 0 0 0 1rem;
}


#bar-churrasco .images img{
    width: 100%;
    border-radius: 10px;
}

#bar-churrasco #image-1{
    margin-bottom: 1rem;
}

#bar-churrasco #image-3{
    height: 100%;
    object-position: 40% center;
}


@media(max-width:991px){
    #bar-churrasco .card-churrasco{
        margin-bottom: 2rem;
    }
    #bar-churrasco .card-churrasco img{
        width: 20%;
        margin-bottom: 2rem;
    }

    #bar-churrasco .images > #col-right{
        padding: 0;
    }

    #image-2{
        margin-bottom: 1rem;
    }
}






/*EVENTOS
==============================*/

#eventos{
    background-color: #231f20;
}

#eventos .title{
    text-align: center;
}


.card-content h3{
    white-space: normal;
    margin-bottom: .5rem;
}

#eventos .card-content .title{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}


#eventos .card-content{
    padding: 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#eventos .card-img > img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.evento-type{
    margin-bottom: 1rem;
}

.evento-type > span{
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    letter-spacing: .1rem;
}

.evento-details{
    color: #6d6d6d;
    font-size: 1rem;
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.slider-home-eventos .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fff;
}

.slider-home-eventos .slick-dots li button:before{
    opacity: .3;
    color: #fff;
}

.slider-home-eventos .slick-dots{
    bottom: auto;
    margin-top: 1rem;
}

.col .slick-slide{
    padding: 0;
}

@media (max-width:491px){
    .evento-details{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }
    #eventos .card-content{
        height: fit-content;
    }
}




/*==========MEDIA QUERIES==========*/


/*Large*/
@media (min-width: 992px){
    #banner-home-info{
        padding-bottom: 10vh ;
    }
    #buttons-banner .col-12{
        margin: 0 1rem 0 0;
    }
    #banner-home-info h1{
        margin: 0 0 10vh 0;
        font-size: 6rem;
    }    
    .card-img{
        height: 100%;
    }
    .card-1 .card-buttons{
        display: flex;    
        align-items: center;    
        vertical-align: middle;
    }
    .card-1 .card-buttons .cbtn{
        margin: 0 1rem 0 0;  
    }
}

/*Medium*/
@media (max-width: 991px){
    
    .btn-1{
        margin: 0 1rem 0 0;
    } 
     
    #banner-home-info > .row > .col{
        bottom:0;
    }

    #banner-home-info h1{
        margin: 0 0 5vh 0;
    }    
    .btn-1{
        margin: 0 0 1rem 0;
    }
    .card-1 .card-buttons .cbtn{
        margin: 0 0 1rem 0;  
    }
}

/*Small*/
@media (max-width: 767px){  
    
   
}

/*Extra Small*/
@media (max-width: 575px){
    h1{
        font-size: 4rem;
    }
    .kit-price > span{
        font-size: 1.3rem;
    }
}

/*350>*/
@media (max-width: 350px){
    h1{
        font-size: 3rem;
    }
}


/*height query*/
@media (min-height: 600px){
}


@media (max-height: 600px){
    .card-img{
        height: 15vh;
    } 
    .card-content{
        padding: 1rem;
    }
}

@media (max-height: 600px) and (max-width: 349px){
    .card-content .card-details span{
        margin-bottom: 1rem;
    }
}





@media (min-width: 992px){        
    #banner-home-info > .container > .row > .col{
        justify-content: flex-end;
    }
}

@media (max-width: 991px){
    #logo-banner-mobile{
        display:block ;
    }
    #banner-home-info > .row > .col{
        margin-top: 0;
        padding-top: 2vh;
    }    
    #banner-home-info > .row > .col{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #content-quem-somos img{
        height: 10vh;
    }
}