
/*PARALLAX BANNER
==============================*/

#parallax-banner{
    position: relative;
    padding: 0;
}

.parallax-wrapper {
    overflow-y: hidden;
}
  
.parallax {
    background-image: url('../img/shutterstock/stock-photo-barbecue-dry-aged-rib-of-beef-with-spice-vegetables-and-a-glass-of-light-beer-close-up-on-black-715722118.jpg');
    background-size: cover;
    background-position: 25% center;
    height: 75vh;
}











/*PAGE TITLE
============================== 
    background-image: linear-gradient(180deg, #231f20f1 50%, #231f20c2); */

#page-title{
    z-index:5;
    top:0;
    position: absolute;
    padding-top: 15vh;
    padding-bottom: 10vh;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#page-title .container{
    bottom: 0;
}








/*NOSSA LOJA
==============================*/

/* the slides */
.slick-slide {
    margin: 0 10px;
}

.slick-track{
    display: flex !important;
}

.col .slick-slide{
    padding: 0;
}

/* the parent */
.slick-list {
    margin: 0 -10px;
}

#nossa-loja .text-content{
    margin-bottom: 2rem;
}

#nossa-loja .img-content > img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-position: left;
}

#nossa-loja .slick-next:before,
#nossa-loja .slick-prev:before{
    color: #000;
}





/*BAR E CHURRASCO
==============================*/

#bar-churrasco{
    background-color: #231f20;
    color: #fff;
}

#bar-churrasco .content{
    padding-bottom: 0;
}

#bar-churrasco .icons-churrasco{
    display: flex;
    gap: 2.5rem;
    padding: 0;
}

.icons-churrasco > .col-12{
    padding: 0;
}

#bar-churrasco .icons-churrasco img{
    width: 30%;
    margin-bottom: 2rem;
}

#bar-churrasco .card-churrasco h3{
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

#bar-churrasco .images{
    margin-top: 4rem;
}

#bar-churrasco .images > #col-left{
    padding: 0;
}

#bar-churrasco .images > #col-right{
    padding: 0 0 0 1rem;
}


#bar-churrasco .images img{
    width: 100%;
    border-radius: 10px;
}

#bar-churrasco #image-1{
    margin-bottom: 1rem;
}

#bar-churrasco #image-3{
    height: 100%;
    object-position: 40% center;
}


@media(max-width:991px){
    #bar-churrasco .card-churrasco{
        margin-bottom: 2rem;
    }

    #bar-churrasco .card-churrasco img{
        width: 20%;
        margin-bottom: 2rem;
    }

    #bar-churrasco .images > #col-right{
        padding: 0;
    }

    #image-2{
        margin-bottom: 1rem;
    }
}










/*HAPPY HOUR
==============================*/


/*CARDAPIO GENERAL
====================*/
#happy-hour{
    background-color: #231f20;
    color: #fff;
}

#happy-hour .title{
    text-align: center;
}


.cardapio-item-wrapper{
    padding: 1rem 1rem;
}

.cardapio-item{
    padding: 0;
    background-color: #fff;
    border-radius: 10px;
    height: 100%;
}

@media (min-width:768px){
    .row.content > .col{
        padding: 0;
    }
    .row.content .text-content{
        padding: 0 15px;
    }

}

@media (max-width:767px){
    .cardapio-item-wrapper{
        padding: 2rem 0;
    }
}




/*CARDAPIO ITEM IMAGE
====================*/
.cardapio-item-img{
    padding: 0;
    border-radius: 10px 10px 0 0;
    height: 5rem;
}

.cardapio-item-img .col{
    padding: 0;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 100%;
}

.cardapio-item-img img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-position: center 70%;
}







/*CARDAPIO ITEM CONTENT
====================*/
.cardapio-item-content{
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}

.cardapio-item-content > .col {
    padding: 1rem;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
}





/*CARDAPIO ITEM HEADER
====================*/
.cardapio-item-header{
    color: #231f20;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.cardapio-item-header h3{
    font-size: 1rem;
}

.cardapio-item-header > .col{
    padding: 0;
    max-width: 60%;
}

.cardapio-item-size{
    color: #6d6d6d;
    margin: 0;
    font-size: .8rem;
}

.cardapio-item-price{
    border: 1px solid #231f20;
    padding: .5rem!important;
    border-radius: .3rem;
    color: #231f20;
}





/*CARDAPIO ITEM DETAILS
====================*/
.cardapio-item-details{
    color: #231f20;
    margin-top: 1rem;
}









/*PARCEIROS
==============================*/

#parceiros .row.slider-home-parceiros img{
    width: 100%;
}

#parceiros .slick-track{
    align-items: center;
}

#parceiros .slick-slide{
    padding: 0 2rem; 
}

#parceiros .slick-prev:before,
#parceiros .slick-next:before{
    color: #231f20;
}