@font-face {
    font-family: 'coegitw01-compactboldregular';
    src: url('../fonts/coegit-w01-compact-bold/coegit_w01_compact_bold-webfont.eot');
    src: url('../fonts/coegit-w01-compact-bold/coegit_w01_compact_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/coegit-w01-compact-bold/coegit_w01_compact_bold-webfont.woff') format('woff'),
         url('../fonts/coegit-w01-compact-bold/coegit_w01_compact_bold-webfont.ttf') format('truetype'),
         url('../fonts/coegit-w01-compact-bold/coegit_w01_compact_bold-webfont.svg#coegitw01-compactboldregular') format('svg');
    font-weight: normal;
    font-style: normal; 
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');









/*GENERAL
==============================*/

html {
    font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
    scroll-behavior: smooth;    
}

@media (prefers-reduced-motion: reduce) {
    #navbar .collapsing {
        transition-property: width, visibility;
        transition-duration: .25s;
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus{
    outline: none;
}

*:active{
    outline: none;
}

*::selection{
    outline: none;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #231f20;
    line-height: 1.6rem;    
}

.container-h1{    
    display: flex;
    align-items: center;
    height: 80%;
}

.container-buttons{    
    display: flex;
    align-items: center;
    height: 20%;
}

ul{
    list-style-type: none;
    white-space: nowrap;
}

a{
    text-decoration: none;
}

.title p{    
    margin: 0;
    font-size: .8rem;
    color: #838383;
}

h1,h2{
    font-family: 'coegitw01-compactboldregular';
    line-height: 1.2;
    margin: 10px 0;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3rem;
    color: #aba000;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin: 0;
}

p{
    margin-bottom: 1.5rem;
}

img{
    max-height: 100%; 
    object-fit: cover;
}

section{
    height: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
  
.container{
    margin: 0 auto;
    padding: 0 40px;
}

@media (max-width:300px){
    .container{
        margin: 0 auto;
        padding: 0 20px;
    }
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content{
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.row{
    margin: 0;
}



/*CARDS
==============================*/

.card-container{
    padding:0;
    height: fit-content;
}

.card-1{
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    color: #231f20;
    padding: 0 1.5rem;
}

.row.card-1{
    padding:0;
    margin:0;
    height: fit-content;
}


.row.card-1 > *{
    margin: 0!important;
    padding: 0!important;
}

.card-img{
    height: 20vh;
    position: relative;
}


.card-img > img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    object-position: center;
}


.card-content{
    background-color: #fff;
    padding:1.5rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.card-content .card-details{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 12rem;
    padding: 0;
    min-height: fit-content;
}

.card-content .card-details > span{
    margin-bottom: 2rem;
}

.card-content .card-header{
    gap: 1rem;  
    display: flex;
    padding: 0;
    background-color: transparent;
    border-style: none;
    justify-content: space-between;
    margin-bottom: 2rem;
    white-space: nowrap;
}


.card-1 .overlay{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(35, 31, 32,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.card-img:hover .overlay{
    visibility: visible;
    animation: fade .3s;
}



.card-1 .card-buttons{
    bottom: 0;    
}

.card-1 .overlay a{
    padding: 1rem 2rem;
    border:2px solid #fff;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.card-1 .overlay a:hover{
    border:2px solid rgba(255, 255, 255,.8);
    color: rgba(255, 255, 255,.8);
}

.card-1 .btn-3{
    margin: 0;
}

.card-1 .btn-1{
    margin: 0;
}

.card-1 .card-buttons{
    align-items: center;
}

.card-1 .card-buttons .cbtn,
.card-1 .card-buttons .col-12{
    padding: 0;
}




.card-2{
    height: 100%;
    background-size: cover;
    background-position: center left;
    border-radius: 10px;
}

.card-2 span{
    color: #fff;
    font-size:1.5rem;
    position: absolute;
    bottom: 1rem;    
    left: 1rem;
}






/*MAPS
==============================*/

#maps, #maps .container-fluid, #maps .col{
    padding: 0;
}

#maps .row{
    margin: 0;
}






/*FOOTER
==============================*/
footer{
    padding: 7.5rem 0;
    background-color: #231f20;
    color: #fff;
    font-size: .8rem;
}


footer h3{
    color: #aba000;
    font-size: 1rem;
    margin-bottom: 1rem;
}

footer a {
    color: #fff;
    white-space: nowrap;
    margin-top: 1rem;
}

footer a:hover {
    color: rgb(165, 165, 165);
    white-space: nowrap;
    margin-top: 1rem;
    text-decoration: none;
}

footer i {
    margin-right: 1rem;
    font-size: 1rem;
}

footer img{
    width: 8rem;   
}

footer .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .col{
    display: flex;
    flex-direction: column;
    width: fit-content;
}


/*==========NAV BAR==========*/

.navbar{
    color: white;
    background-color: transparent;    
    position: fixed;
    z-index: 1000;
    width: 100%;
    transition: 300ms;
    padding: 50px 50px;
}

.navbar > div{
    width: 100%;
}

.nav-link{
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    border-bottom: 2px transparent solid;
    font-size:.8rem;
    transition: 200ms;
}

.nav-link:hover{
    color: #fff!important;
    border-bottom: 2px #ffffff solid;
    transition: 200ms;
}

.dropdown-menu{
    background-color: #131111;    
}

.dropdown-item{
    color:#fff;
    font-size: .8rem;
    background-color: #131111;
    padding: 1rem;
    transition: 200ms;
}

.navbar-location i{
    color: #aba000;
}

.navbar-location {
    color: #ffffff;
}

#navbar-brand {
    height: 5rem;
    transition: 300ms;
    z-index: 99;
}

#navbar-brand > img{
    width: auto;
}

.navbar-toggler{
    z-index: 1000;
}

.dropdown-item.active{
    background-color: #aba000;
}


/*==========BUTTONS==========*/

#close-menu-btn{
    font-size: 1.5rem;
    float: right;
    padding-right: 3rem;
}

.btn-1{
    background-color: #aba000;
    font-size: 1rem;
    color:#ffffff;
    border: 2px solid #aba000 ;
    border-radius: 5px;
    padding:.5rem 1rem;
    transition: 300ms;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: block;
}

.btn-1:hover{
    background-color: #635c03;
    font-size: 1rem;
    color:#ffffff;
    border-radius: 5px;
    border: 2px solid #635c03 ;
    padding:.5rem 1rem;
    transition: 300ms;
    text-decoration: none;
}

.btn-2{
    background-color: transparent;
    font-size: 1rem;
    color:#aba000;
    border: 2px solid #aba000 ;
    border-radius: 5px;
    padding:.5rem 1rem;
    transition: 300ms;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: block;
}

.btn-2:hover{
    font-size: 1rem;
    color:#635c03;
    border: 2px solid #635c03 ;
    border-radius: 5px;
    padding:.5rem 1rem;
    transition: 300ms;
    text-decoration: none;
}

.btn-3{
    background-color: transparent;
    font-size: 1rem;
    color:#aba000;
    border-radius: 5px;
    padding:.5rem 1rem;
    transition: 300ms;
    text-align: center;
    text-decoration: none;
    width: 100%;
    display: block;
}

.btn-3:hover{
    background-color:#ece79d;
    font-size: 1rem;
    color:#aba000;
    border-radius: 5px;
    padding:.5rem 1rem;
    transition: 300ms;
    text-align: center;
    text-decoration: none;
}



#parallax-banner .cover{
    background-color: rgba(35, 31, 32, .85);
    top:0;
    position: absolute;
    height: 75vh;
    width: 100%;
    mix-blend-mode: multiply;
}




@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }

}


/*SHADOWS
==============================*/

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
  
.shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
  
.shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
  
.shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}




@media (min-width: 992px){
    .navbar-collapse{
        width: fit-content;
        flex-grow: 0;
    }
    .social-icons{
        display: none;
    }
}

@media (max-width: 991px){
    #navbar-brand {
        height: 10rem;
        transition: 300ms;
        z-index: 100;
    }
    .nav-item{
        background-color: #635c03;
        padding: .5rem 1rem;
    }
    .navbar-collapse{
        position: absolute;
        top:0;
        right: 0;
        background-color: #635c03; 
        width: 15rem;
        height: 100vh;
        transition: all 300ms ease;
        z-index: 100;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }   

    .dropdown-menu{
        background-color: #4d4802;    
    }

    .dropdown-item{
        color:#fff;
        font-size: .8rem;
        background-color: #4d4802;
        padding: 1rem;
        transition: 200ms;
    }

    #navbar .collapsing{
        height: 100vh!important;
        width: 0;
        transition: all 300ms ease;
    }

    ul.navbar-nav{
        margin-top: 25vh;
        margin-bottom: 3.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .navbar-collapse > ul{
        margin-top: 2rem;
    }
    
    .social-icons{
        z-index: 100;        
    }

    .social-icons > a > i{  
        color: #aba000;
        font-size: 1.5rem;
    }

    .social-icons a i:hover{
        color: #635c03;
    }
}

@media (max-width: 767px){  
    
    footer{
        padding-bottom: 0!important;
    }
    footer img{
        width: 30%!important;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    footer .col{
        padding: 0 2rem;
        margin-bottom: 5rem;
    }
   
}

/*Extra Small*/
@media (max-width: 575px){
    h1{
        font-size: 4rem;
    }
}

/*350>*/
@media (max-width: 350px){
    h1{
        font-size: 3rem;
    }
}


@media (max-height:749px){
    h1{
        font-size: 3rem;
    }
    #navbar-brand{
        height: 5rem;
    }
}