
/*PARALLAX BANNER
==============================*/

#parallax-banner{
    position: relative;
    padding: 0;
}

.parallax-wrapper {
    overflow-y: hidden;
}
  
.parallax {
    background-image: url('../img/shutterstock/stock-photo-two-classic-fresh-rib-eye-steaks-on-a-wooden-board-1666869046.jpg');
    background-size: cover;
    background-position: 25% center;
    height: 75vh;
}




/*PAGE TITLE
==============================*/

#page-title{
    z-index:5;
    top:0;
    position: absolute;
    padding-top: 15vh;
    padding-bottom: 10vh;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#page-title .container{
    bottom: 0;
}





/*NOSSA HISTORIA
==============================*/

#nossa-historia .row.content{
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

#nossa-historia .text-content{
    flex-basis: 40ch;
}

#nossa-historia .img-content{
    flex-basis: 300px;
}

#nossa-historia .img-content > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}







/*DIFERENCIAIS
==============================*/

#diferenciais{
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    background-color: #231f20;
}

#diferenciais .title{
    text-align: center;
}

#diferenciais .row.content{
    padding-bottom: 0;
}




/*GALERIA
==============================*/
#galeria .mansory .col-left img,
#galeria .mansory .col-right img{
    width: 100%;
    border-radius: 10px;
    margin: .5rem 0;
}