<div class="container">

  <header>
    <p>TODAS AS CARNES</p>
    <h2>VEJA TODAS AS NOSSAS LINHAS DE CARNES</h2>
  </header>

  <div class="section-content">
    <div id="accordion-1" class="panel-group">
      
        <div class="panel panel-primary">
          <div id="panel-heading-1" class="panel-heading">
            <div class="panel-heading-overlay"></div>
            <h3 class="panel-title collapsed" data-target="#panel-1" data-toggle="collapse">BOVINOS<i class="fas fa-chevron-down"></i></h3>
          </div>
          <div id="panel-1" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="product-item">
                <span><strong>Patinho</strong></span>
                <span><strong>R$ 37,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Coxão mole</strong></span>
                <span><strong>R$ 39,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Posta vermelha</strong></span>
                <span><strong>R$ 34,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Lagarto</strong></span>
                <span><strong>R$ 34,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Músculo</strong></span>
                <span><strong>R$ 25,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Músculo s/ osso</strong></span>
                <span><strong>R$ 32,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Alcatra</strong></span>
                <span><strong>R$ 47,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Miolo alcatra</strong></span>
                <span><strong>R$ 64,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Filé simples</strong></span>
                <span><strong>R$ 36,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Filé duplo</strong></span>
                <span><strong>R$ 42,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Carne moída</strong></span>
                <span><strong>R$ 39,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Paleta sete</strong></span>
                <span><strong>R$ 29,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Paleta simples</strong></span>
                <span><strong>R$ 29,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Ponta de peito</strong></span>
                <span><strong>R$ 32,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Acém</strong></span>
                <span><strong>R$ 37,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Costela ponta</strong></span>
                <span><strong>R$ 32,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Picanha boi campo</strong></span>
                <span><strong>R$ 88,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Carne moída de 1ª</strong></span>
                <span><strong>R$ 44,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Capitão coxa</strong></span>
                <span><strong>R$ 49,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Ossada</strong></span>
                <span><strong>R$ 0,20</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Prime rib</strong></span>
                <span><strong>R$ 79,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Short rib</strong></span>
                <span><strong>R$ 59,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Bisteca fiorentina</strong></span>
                <span><strong>R$ 59,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Ribs</strong></span>
                <span><strong>R$ 43,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Tomahawk</strong></span>
                <span><strong>R$ 82,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Entrecot</strong></span>
                <span><strong>R$ 57,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Capa de filé</strong></span>
                <span><strong>R$ 34,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Costela 4 ossos</strong></span>
                <span><strong>R$ 43,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Assado de tiras</strong></span>
                <span><strong>R$ 39,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Chuck</strong></span>
                <span><strong>R$ 59,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Chuck eye</strong></span>
                <span><strong>R$ 59,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Denver steak</strong></span>
                <span><strong>R$ 72,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Miolo de paleta</strong></span>
                <span><strong>R$ 42,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Fisholder</strong></span>
                <span><strong>R$ 49,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Shoulder</strong></span>
                <span><strong>R$ 59,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Flat iron</strong></span>
                <span><strong>R$ 88,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Peixinho</strong></span>
                <span><strong>R$ 42,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Bife flanco</strong></span>
                <span><strong>R$ 44,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Skirt steak</strong></span>
                <span><strong>R$ 44,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>T-bone</strong></span>
                <span><strong>R$ 54,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Stinco</strong></span>
                <span><strong>R$ 39,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Bananinha</strong></span>
                <span><strong>R$ 42,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Filé mignon</strong></span>
                <span><strong>R$ 94,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Chorizo</strong></span>
                <span><strong>R$ 62,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Costela janela s/ osso</strong></span>
                <span><strong>R$ 42,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Costela s/ osso</strong></span>
                <span><strong>R$ 55,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Ribeye bone in</strong></span>
                <span><strong>R$ 79,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Brisket</strong></span>
                <span><strong>R$ 51,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Hamburguer tradicional</strong></span>
                <span><strong>R$ 39,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Bananinha temperada</strong></span>
                <span><strong>R$ 42,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Entrecot temperado</strong></span>
                <span><strong>R$ 85,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Chorizo temperado</strong></span>
                <span><strong>R$ 72,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Miolo alcatra temperado</strong></span>
                <span><strong>R$ 64,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Alcatra temperada</strong></span>
                <span><strong>R$ 47,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Bananinha na mostarda</strong></span>
                <span><strong>R$ 42,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Fraldinha</strong></span>
                <span><strong>R$ 45,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Fraldinha temperada</strong></span>
                <span><strong>R$ 49,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Fraldinha na mostarda</strong></span>
                <span><strong>R$ 45,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Posta branca</strong></span>
                <span><strong>R$ 39,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Peito s/ osso</strong></span>
                <span><strong>R$ 42,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Picanha reserva</strong></span>
                <span><strong>R$ 159,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Bife à rolê</strong></span>
                <span><strong>R$ 35,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Espetinho bovino</strong></span>
                <span><strong>R$ 39,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Contrafilé</strong></span>
                <span><strong>R$ 54,90</strong>/kg</span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div id="panel-heading-2" class="panel-heading">
            <div class="panel-heading-overlay"></div>
            <h3 class="panel-title collapsed" data-target="#panel-2" data-toggle="collapse">OVINOS<i class="fas fa-chevron-down"></i></h3>
          </div>
          <div id="panel-2" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="product-item">
                <span><strong>Costela temperada</strong></span>
                <span><strong>R$ 59,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Pernil temperado</strong></span>
                <span><strong>R$ 59,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Paleta temperada</strong></span>
                <span><strong>R$ 64,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>T-bone temperado</strong></span>
                <span><strong>R$ 69,90</strong>/kg</span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div id="panel-heading-3" class="panel-heading">
            <div class="panel-heading-overlay"></div>
            <h3 class="panel-title collapsed" data-target="#panel-3" data-toggle="collapse">SUÍNOS<i class="fas fa-chevron-down"></i></h3>
          </div>
          <div id="panel-3" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="product-item">
                <span><strong>Bisteca temperada</strong></span>
                <span><strong>R$ 23,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Costelinha temperada</strong></span>
                <span><strong>R$ 25,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Costelinha c/ barbecue</strong></span>
                <span><strong>R$ 29,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Bacon</strong></span>
                <span><strong>R$ 41,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Kit feijoada</strong></span>
                <span><strong>R$ 27,50</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Lombo defumado</strong></span>
                <span><strong>R$ 44,40</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Prime rib suíno</strong></span>
                <span><strong>R$ 32,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>T-bone suíno</strong></span>
                <span><strong>R$ 29,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Pernil suíno</strong></span>
                <span><strong>R$ 22,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Paleta suína</strong></span>
                <span><strong>R$ 23,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Costelinha s/ pele</strong></span>
                <span><strong>R$ 29,90</strong>/kg</span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div id="panel-heading-4" class="panel-heading">
            <div class="panel-heading-overlay"></div>
            <h3 class="panel-title collapsed" data-target="#panel-4" data-toggle="collapse">AVES<i class="fas fa-chevron-down"></i></h3>
          </div>
          <div id="panel-4" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="product-item">
                <span><strong>Meio da asa c/ barbecue</strong></span>
                <span><strong>R$ 29,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Coraçãozinho temperado</strong></span>
                <span><strong>R$ 39,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Espetinho de frango</strong></span>
                <span><strong>R$ 28,90</strong>/kg</span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div id="panel-heading-5" class="panel-heading">
            <div class="panel-heading-overlay"></div>
            <h3 class="panel-title collapsed" data-target="#panel-5" data-toggle="collapse">HAMBÚRGUERES<i class="fas fa-chevron-down"></i></h3>
          </div>
          <div id="panel-5" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="product-item">
                <span><strong>Hambúguer de costela</strong></span>
                <span><strong>R$ 37,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Hambúguer com queijo</strong></span>
                <span><strong>R$ 42,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Hamburguer com tomate</strong></span>
                <span><strong>R$ 37,90</strong>/kg</span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel panel-primary">
          <div id="panel-heading-6" class="panel-heading">
            <div class="panel-heading-overlay"></div>
            <h3 class="panel-title collapsed" data-target="#panel-6" data-toggle="collapse">LINGUIÇAS<i class="fas fa-chevron-down"></i></h3>
          </div>
          <div id="panel-6" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="product-item">
                <span><strong>Linguiça de costela</strong></span>
                <span><strong>R$ 37,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Linguiça Don Toro</strong></span>
                <span><strong>R$ 64,90</strong>/kg</span>
              </div>
              <hr>
              <div class="product-item">
                <span><strong>Linguiça suína</strong></span>
                <span><strong>R$ 29,90</strong>/kg</span>
              </div>
            </div>
          </div>
        </div>

    </div>         
  </div>

  <div class="buttons-container">
    <a href="https://wa.me/554730302021?text=Ol%C3%A1%21+Eu+gostaria+de+fazer+um+pedido%21" target="blank" class="btn-1"><i class="fab fa-whatsapp"></i> PEDIR AGORA</a>
  </div>
</div>